<a href="https://colab.research.google.com/github/anubhavshrestha/Machine-Learning/blob/main/Anubhav_HW2_S24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Requirement of Submission
1. Please directly write your code in this file and submit your `.ipynb` file to Brightspace. Do NOT accept `.py` files.
2. NO extended deadline.
3. Please check your answers before the submission.

# Homework 2

# 1. Class Object

## 1.1. Create a class
* Write a class named `Employee` that holds the following data about an employee in attributes: 'name', 'ID number', 'department', and 'job title'.

In [ ]:
class Employee:
  def __init__(self, name, id, dept, job_title):
    self.name = name
    self.id = id
    self.dept = dept
    self.job_title = job_title
  def __str__(self):
    return(f"Employee Name: {self.name} \nID Number: {self.id} \nDepartment: {self.dept} \nJob Title: {self.job_title}")




## 1.2. Write program
* Then, write a program that creates three 'Employee' objects to hold the following data.
* The program should store this data in the **three objects** and then **display the data** for each employee on the screen.

![employee.PNG]()

Output format:\
Employee 1:\
Employee Name: xxx \
ID Number: xxxx\
Department: xxxx \
Job Title: xxxx \
...\
...\
...

In [ ]:
employee1 = Employee(name = "Susan Meyers", id = "47899", dept = "Accounting", job_title = "Vice President")
employee2 = Employee(name = "Mark Jones", id = "39119", dept = "IT", job_title = "Programmer")
employee3 = Employee(name = "Joy Rogers", id = "81774", dept = "Manufacturing", job_title = "Engineer")

employees = [employee1, employee2, employee3]   # creating a list of employees

for i,employee in enumerate(employees):
  print(f"Employee {i+1}:")
  print(employee)
  print()

Employee 1:
Employee Name: Susan Meyers
ID Number: 47899
Department: Accounting
Job Title: Vice President

Employee 2:
Employee Name: Mark Jones
ID Number: 39119
Department: IT
Job Title: Programmer

Employee 3:
Employee Name: Joy Rogers
ID Number: 81774
Department: Manufacturing
Job Title: Engineer

## 1.3. Write program
1) Create a dictionary to store 'Employee' objects. Use the employee ID number as the key.

2) Write a function to let the user look up an employee in the dictionary\
3) Write a function to let the user add a new employee to the dictionary\
4) Write a funciton to let the user change an existing employee's name, department, and job title in the dictionary\
5) Write a function to let the user delete an employee from the dictionary\
6) Write a function to let the user quit the program\
7) Write a program which should present a menu that lets the user perform the above 2)-7) actions.

In [ ]:
employee_dict = {employee.id : employee for employee in employees}
for id, employee in employee_dict.items():
  print("ID: ", id)
  print(employee)
  print()

ID:  47899
Employee Name: Susan Meyers
ID Number: 47899
Department: Accounting
Job Title: Vice President

ID:  39119
Employee Name: Mark Jones
ID Number: 39119
Department: IT
Job Title: Programmer

ID:  81774
Employee Name: Joy Rogers
ID Number: 81774
Department: Manufacturing
Job Title: Engineer

In [ ]:
def look_employee():
    id = input("Enter employee ID to lookup: ")
    if id in employee_dict:
        print(employee_dict[id])
    else:
        print("No such employee in the dictionary.")

def add_employee():
    name = input("Enter employee name: ")
    id = input("Enter employee ID: ")
    while id in employee_dict:
      print("ID already exists. Please enter another ID.")
      id = input("Enter employee ID: ")
    dept = input("Enter employee department: ")
    job_title = input("Enter employee job title: ")
    employee_dict[id] = Employee(name, id, dept, job_title)
    print("This employee has been successfully added into the dictionary.")
    print(employee_dict[id])

def update_employee():
    id = input("Enter employee ID to update: ")
    if id in employee_dict:
        name = input("Enter new employee name: ")
        dept = input("Enter new employee department: ")
        job_title = input("Enter new employee job title: ")
        employee_dict[id].name = name
        employee_dict[id].dept = dept
        employee_dict[id].job_title = job_title
        print("The employee details have been successfully updated.")
        print(employee_dict[id])
    else:
        print("No such employee in dictionary.")

def delete_employee():
    id = input("Enter employee ID to delete: ")
    if id in employee_dict:
        del employee_dict[id]
        print(f"The employee detail with ID {id} has been successfully deleted.")
    else:
        print("No such employee in dictionary.")

def quit_program():
    print("Quitting the program program.")
    return False

In [ ]:
for id, employee in employee_dict.items():
  print("ID: ", id)
  print(employee)
  print()

ID:  47899
Employee Name: Susan Meyers
ID Number: 47899
Department: Accounting
Job Title: Vice President

ID:  39119
Employee Name: Mark Jones
ID Number: 39119
Department: IT
Job Title: Programmer

ID:  81774
Employee Name: Joy Rogers
ID Number: 81774
Department: Manufacturing
Job Title: Engineer

In [ ]:
user_choice = True

while user_choice:
    print("\nEmployee Management System Menu:")
    print("1. Look up employee")
    print("2. Add employee")
    print("3. Update employee")
    print("4. Delete employee")
    print("5. Quit program")

    choice = input("Enter your choice: ")
    print()

    if choice == "1":
        look_employee()
    elif choice == "2":
        add_employee()
    elif choice == "3":
        update_employee()
    elif choice == "4":
        delete_employee()
    elif choice == "5":
        user_choice = quit_program()
    else:
        print("Invalid choice. Please enter a valid option.")

Employee Management System Menu:
1. Look up employee
2. Add employee
3. Update employee
4. Delete employee
5. Quit program
Enter your choice: 1

Enter employee ID to lookup: 47899
Employee Name: Susan Meyers
ID Number: 47899
Department: Accounting
Job Title: Vice President

Employee Management System Menu:
1. Look up employee
2. Add employee
3. Update employee
4. Delete employee
5. Quit program
Enter your choice: 2

Enter employee name: John
Enter employee ID: 76223
Enter employee department: Bank
Enter employee job title: Cashier
This employee has been successfully added into the dictionary.
Employee Name: John
ID Number: 76223
Department: Bank
Job Title: Cashier

Employee Management System Menu:
1. Look up employee
2. Add employee
3. Update employee
4. Delete employee
5. Quit program
Enter your choice: 3

Enter employee ID to update: 76223
Enter new employee name: Justin
Enter new employee department: Cafe
Enter new employee job title: Cashier
The employee details have been successfully updated.
Employee Name: Justin
ID Number: 76223
Department: Cafe
Job Title: Cashier

Employee Management System Menu:
1. Look up employee
2. Add employee
3. Update employee
4. Delete employee
5. Quit program
Enter your choice: 1

Enter employee ID to lookup: 76223
Employee Name: Justin
ID Number: 76223
Department: Cafe
Job Title: Cashier

Employee Management System Menu:
1. Look up employee
2. Add employee
3. Update employee
4. Delete employee
5. Quit program
Enter your choice: 4

Enter employee ID to delete: 76223
The employee detail with ID 76223 has been successfully deleted.

Employee Management System Menu:
1. Look up employee
2. Add employee
3. Update employee
4. Delete employee
5. Quit program
Enter your choice: 1

Enter employee ID to lookup: 76223
No such employee in the dictionary.

Employee Management System Menu:
1. Look up employee
2. Add employee
3. Update employee
4. Delete employee
5. Quit program
Enter your choice: 5

Quitting the program program.

## 2. NUMPY

### 2.1 In a numpy array replace all odd position numbers with -1 without affecting the original array?

In [ ]:
import numpy as np
array = np.arange(10)
print(array)

array[1::2] = -1
print(array)

[0 1 2 3 4 5 6 7 8 9]
[ 0 -1  2 -1  4 -1  6 -1  8 -1]

### 2.2 How to extract all numbers between a given range from a numpy array?
Note: Get all items between 5 and 10 from a.

In [ ]:
a = np.arange(15)

In [ ]:
new_arr = a[(a>=5) & (a<=10)]
print(new_arr)

[ 5  6  7  8  9 10]

### 2.3

Create a 8 by 8 numpy array with ones in the first row, last row, first column and last column and zeros inside. Reshape it to a 16 by 4 array. Then use the sum method to find out how many ones are in the first two columns of the 16 by 4 array. (Do not just count them manually.)

In [ ]:
array = np.zeros((8,8))
array[0,:] = 1
array[-1,:] = 1
array[:,0] = 1
array[:,-1] = 1

print("Array:")
print(array)
print()
reshaped_array = array.reshape(16,4)
print("Reshaped Array:")
print(reshaped_array)

print("Sum of first two columns of reshaped array = ", int(np.sum(reshaped_array[:,:2])))

Array:
[[1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1.]]

Reshaped Array:
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 0. 0. 0.]
 [0. 0. 0. 1.]
 [1. 0. 0. 0.]
 [0. 0. 0. 1.]
 [1. 0. 0. 0.]
 [0. 0. 0. 1.]
 [1. 0. 0. 0.]
 [0. 0. 0. 1.]
 [1. 0. 0. 0.]
 [0. 0. 0. 1.]
 [1. 0. 0. 0.]
 [0. 0. 0. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
Sum of first two columns of reshaped array =  14

## 3. Generator

A pair of twin primes is a pair of consecutive prime numbers that differ by two. The first three such pairs are (3, 5), (5, 7), and (11,13).

Write a generator function that yields tuples representing these pairs one after another. Call the next method on this generator function 10 times and print out the first ten such pairs.

In [ ]:
def is_prime(n):
  if n <= 1:return False
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
        return False
  return True

def generator(n):
  """n is the number of consecutive primes we want to generate"""
  num = 2
  total_pairs = n
  pairs_count = 0
  while pairs_count < n:
    if (is_prime(num) & is_prime(num+2)):
      yield (num, num+2)
    num += 1

iterator = generator(20)    # generate 20 pairs of consecutive prime that differs by two

for i in range(10):
  print(next(iterator))

(3, 5)
(5, 7)
(11, 13)
(17, 19)
(29, 31)
(41, 43)
(59, 61)
(71, 73)
(101, 103)
(107, 109)

# Problem 4.

Using pandas, import the file "hd_2021.csv" in our class data folder into a dataframe. To get it to read properly, you will need to add "encoding='latin-1'" to your read_csv command as in the following (your path to the file may vary):

```
schools=pd.read_csv("hd2021.csv", encoding='latin-1')
```

This is a recent list of all of the colleges and universities in the United States. You should see columns INSTNM, CITY, STABBR, SECTOR, and CARNEGIE. The latter two columns are classification schemes.

1) Print out the first 5 rows in the dataframe.

2) Issue pandas commands to calculate and print out the number of schools per state ("STABBR" column), and the number of schools by SECTOR and by CARNEGIE.

3) Print out the schools where the city is "New York" and the CARNEGIE code is 15.
That code refers to extensive doctoral research institutions.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

In [ ]:
import pandas as pd

file_path = "/content/drive/MyDrive/data_files/hd2021.csv"

df = pd.read_csv(file_path, encoding = 'latin-1')

In [ ]:
df.head(5)

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,CBSATYPE,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG
0,100654,Alabama A & M University,AAMU,4900 Meridian Street,Normal,AL,35762,1,5,"Dr. Andrew Hugine, Jr.",...,1,290,-2,1089,Madison County,105,-86.568502,34.783368,109,1
1,100663,University of Alabama at Birmingham,UAB,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,1,5,Ray L. Watts,...,1,142,-2,1073,Jefferson County,107,-86.799345,33.505697,93,1
2,100690,Amridge University,Southern Christian University Regions University,1200 Taylor Rd,Montgomery,AL,36117-3553,1,5,Michael C.Turner,...,1,388,-2,1101,Montgomery County,102,-86.174010,32.362609,127,2
3,100706,University of Alabama in Huntsville,UAH University of Alabama Huntsville,301 Sparkman Dr,Huntsville,AL,35899,1,5,Darren Dawson,...,1,290,-2,1089,Madison County,105,-86.640449,34.724557,93,2
4,100724,Alabama State University,,915 S Jackson Street,Montgomery,AL,36104-0271,1,5,Quinton T. Ross,...,1,388,-2,1101,Montgomery County,107,-86.295677,32.364317,99,1

In [ ]:
print(df.columns.tolist())

['UNITID', 'INSTNM', 'IALIAS', 'ADDR', 'CITY', 'STABBR', 'ZIP', 'FIPS', 'OBEREG', 'CHFNM', 'CHFTITLE', 'GENTELE', 'EIN', 'DUNS', 'OPEID', 'OPEFLAG', 'WEBADDR', 'ADMINURL', 'FAIDURL', 'APPLURL', 'NPRICURL', 'VETURL', 'ATHURL', 'DISAURL', 'SECTOR', 'ICLEVEL', 'CONTROL', 'HLOFFER', 'UGOFFER', 'GROFFER', 'HDEGOFR1', 'DEGGRANT', 'HBCU', 'HOSPITAL', 'MEDICAL', 'TRIBAL', 'LOCALE', 'OPENPUBL', 'ACT', 'NEWID', 'DEATHYR', 'CLOSEDAT', 'CYACTIVE', 'POSTSEC', 'PSEFLAG', 'PSET4FLG', 'RPTMTH', 'INSTCAT', 'C21BASIC', 'C21IPUG', 'C21IPGRD', 'C21UGPRF', 'C21ENPRF', 'C21SZSET', 'C18BASIC', 'C15BASIC', 'CCBASIC', 'CARNEGIE', 'LANDGRNT', 'INSTSIZE', 'F1SYSTYP', 'F1SYSNAM', 'F1SYSCOD', 'CBSA', 'CBSATYPE', 'CSA', 'NECTA', 'COUNTYCD', 'COUNTYNM', 'CNGDSTCD', 'LONGITUD', 'LATITUDE', 'DFRCGID', 'DFRCUSCG']

In [ ]:
#Number of schools by State
print("Number of schools by State: ")
print(df['STABBR'].value_counts())

Number of schools by State:
CA    699
NY    432
TX    408
FL    342
PA    312
OH    283
IL    247
NC    166
MI    164
NJ    162
TN    153
MA    150
MO    146
VA    145
GA    141
PR    139
LA    115
AZ    112
IN    107
WA    104
OK     99
MN     98
SC     93
CO     92
WI     91
KY     87
AR     85
AL     81
MD     81
IA     78
OR     77
KS     74
WV     72
CT     72
UT     65
MS     56
NM     46
NE     41
NV     41
ID     39
NH     37
ME     37
MT     31
SD     28
ND     26
DC     24
HI     23
RI     22
VT     20
DE     17
AK     10
WY     10
GU      3
AS      1
MP      1
FM      1
PW      1
VI      1
MH      1
Name: STABBR, dtype: int64

In [ ]:
#Number of schools by Sector
print("Number of schools by Sector: ")
print(df['SECTOR'].value_counts())

Number of schools by Sector:
2     1655
9     1489
4      911
1      784
6      563
3      355
7      235
5      145
0       71
8       65
99      16
Name: SECTOR, dtype: int64

In [ ]:
#Number of schools by Carnegie
print("Number of schools by Carnegie: ")
print(df['CARNEGIE'].value_counts())

Number of schools by Carnegie:
-2     3232
 40    1159
 21     473
 32     290
 31     215
 51     214
 15     151
 16     105
 22     102
 53      70
 56      59
 59      41
 52      41
 33      39
 60      31
 55      25
 54      20
 57      17
 58       5
Name: CARNEGIE, dtype: int64

In [ ]:
df[(df['CITY'] == "New York") & (df['CARNEGIE'] == 15)]

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,CBSATYPE,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG
2124,190150,Columbia University in the City of New York,Columbia University,West 116 St and Broadway,New York,NY,10027,36,2,Lee C. Bollinger,...,1,408,-2,36061,New York County,3610,-73.961885,40.808286,94,2
2141,190576,CUNY Graduate School and University Center,The Graduate Center | CUNY Graduate Center | T...,365 Fifth Ave,New York,NY,10016,36,2,Robin L. Garrell,...,1,408,-2,36061,New York County,3612,-73.983822,40.748612,93,1
2238,193900,New York University,,70 Washington Sq South,New York,NY,10012-1091,36,2,Andrew Hamilton,...,1,408,-2,36061,New York County,3610,-73.997264,40.729452,94,1
2325,196468,Teachers College at Columbia University,Teachers College,525 W 120th St,New York,NY,10027,36,2,Tom Bailey,...,1,408,-2,36061,New York County,3610,-73.960194,40.810216,98,2
2352,197708,Yeshiva University,,500 W 185th St,New York,NY,10033-3299,36,2,Ari Berman,...,1,408,-2,36061,New York County,3613,-73.929873,40.850605,101,2

In [ ]:
df[(df['CITY'] == "New York") & (df['CARNEGIE'] == 15)]['INSTNM']

2124    Columbia University in the City of New York
2141     CUNY Graduate School and University Center
2238                            New York University
2325        Teachers College at Columbia University
2352                             Yeshiva University
Name: INSTNM, dtype: object

# Problem 5.

Read in two csv files from our shared data directory: (1) state_populations_and_densities.csv and (2) stabbrs.csv into dataframes in pandas.

The first has columns "State", "Pop", and "Density" which are the name of each state, its population, and its population density. The second has columns "STATE" and "STABBR" which are the name of each state and its two-letter postal abbreviation (e.g. "NY" for New York).

1) Convert the column names of the first dataframe to upper case, and also convert the data in the "STATE" column of the first dataframe to upper case.

2) Then merge the two dataframes into a new (third) one that contains the columns "STATE", "POP", "DENSITY" and "STABBR". Use a left join where the left dataframe is the first one above.

In [ ]:
file_path1 = "/content/drive/MyDrive/data_files/state_populations_and_densities.csv"
file_path2 = "/content/drive/MyDrive/data_files/stabbrs.csv"

df_state_pd = pd.read_csv(file_path1)
df_stabbrs = pd.read_csv(file_path2)

In [ ]:
df_state_pd.columns = df_state_pd.columns.str.upper()
df_state_pd['STATE'] = df_state_pd['STATE'].str.upper()

In [ ]:
df_state_pd.head()

          STATE       POP   DENSITY
0    CALIFORNIA  39995077  256.7424
1         TEXAS  29945493  114.6318
2       FLORIDA  22085563  411.8520
3      NEW YORK  20365879  432.1580
4  PENNSYLVANIA  13062764  291.9510

In [ ]:
merged_df = pd.merge(df_state_pd, df_stabbrs, on = 'STATE', how = 'left')

In [ ]:
merged_df.head()

          STATE       POP   DENSITY STABBR
0    CALIFORNIA  39995077  256.7424     CA
1         TEXAS  29945493  114.6318     TX
2       FLORIDA  22085563  411.8520     FL
3      NEW YORK  20365879  432.1580     NY
4  PENNSYLVANIA  13062764  291.9510     PA

#Problem 6.

Use the dataframe of colleges and universities from problem 4 and the merged (3rd) dataframe from problem 5 to create a dataframe with one row per state and a new column called "SCHOOL_COUNT" which contains the number of colleges and universities in each state. Note you should use column "STABBR" for the merge.

The resulting dataframe should have columns STABBR, SCHOOL COUNT, STATE, POP, and DENSITY.

In [ ]:
df_school_count = df['STABBR'].value_counts()
df_school_count = df_school_count.reset_index()
df_school_count.columns = ['STABBR', 'SCHOOL COUNT']

df_school_count.head()

  STABBR  SCHOOL COUNT
0     CA           699
1     NY           432
2     TX           408
3     FL           342
4     PA           312

In [ ]:
merged_df1 = pd.merge(df_school_count, merged_df, on = 'STABBR', how = 'left')

merged_df1

   STABBR  SCHOOL COUNT           STATE         POP    DENSITY
0      CA           699      CALIFORNIA  39995077.0   256.7424
1      NY           432        NEW YORK  20365879.0   432.1580
2      TX           408           TEXAS  29945493.0   114.6318
3      FL           342         FLORIDA  22085563.0   411.8520
4      PA           312    PENNSYLVANIA  13062764.0   291.9510
5      OH           283            OHIO  11852036.0   290.0574
6      IL           247        ILLINOIS  12808884.0   230.7117
7      NC           166  NORTH CAROLINA  10620168.0   218.4411
8      MI           164        MICHIGAN  10116069.0   178.9220
9      NJ           162      NEW JERSEY   9388414.0  1276.6405
10     TN           153       TENNESSEE   7023788.0   170.3356
11     MA           150   MASSACHUSETTS   7126375.0   913.6378
12     MO           146        MISSOURI   6188111.0    90.0194
13     VA           145        VIRGINIA   8757467.0   221.7642
14     GA           141         GEORGIA  10916760.0   189.8138
15     PR           139             NaN         NaN        NaN
16     LA           115       LOUISIANA   4682633.0   108.3842
17     AZ           112         ARIZONA   7303398.0    64.2939
18     IN           107         INDIANA   6845874.0   191.0868
19     WA           104      WASHINGTON   7901429.0   118.8971
20     OK            99        OKLAHOMA   4000953.0    58.3272
21     MN            98       MINNESOTA   5787008.0    72.6765
22     SC            93  SOUTH CAROLINA   5217037.0   173.5484
23     CO            92        COLORADO   5922618.0    57.1450
24     WI            91       WISCONSIN   5935064.0   109.5879
25     KY            87        KENTUCKY   4539130.0   114.9554
26     AR            85        ARKANSAS   3030646.0    58.2425
27     AL            81         ALABAMA   5073187.0   100.1715
28     MD            81        MARYLAND   6257958.0   644.6851
29     IA            78            IOWA   3219171.0    57.6324
30     OR            77          OREGON   4318492.0    44.9899
31     KS            74          KANSAS   2954832.0    36.1408
32     WV            72   WEST VIRGINIA   1781860.0    74.1268
33     CT            72     CONNECTICUT   3612314.0   746.0376
34     UT            65            UTAH   3373162.0    41.0510
35     MS            56     MISSISSIPPI   2960075.0    63.0837
36     NM            46      NEW MEXICO   2129190.0    17.5534
37     NE            41        NEBRASKA   1988536.0    25.8843
38     NV            41          NEVADA   3185426.0    29.0162
39     ID            39           IDAHO   1893410.0    22.9107
40     NH            37   NEW HAMPSHIRE   1389741.0   155.2263
41     ME            37           MAINE   1369159.0    44.3912
42     MT            31         MONTANA   1103187.0     7.5796
43     SD            28    SOUTH DAKOTA    901165.0    11.8870
44     ND            26    NORTH DAKOTA    800394.0    11.5997
45     DC            24             NaN         NaN        NaN
46     HI            23          HAWAII   1474265.0   229.5290
47     RI            22    RHODE ISLAND   1106341.0  1069.9623
48     VT            20         VERMONT    646545.0    70.1470
49     DE            17        DELAWARE   1008350.0   517.3679
50     AK            10          ALASKA    738023.0     1.2933
51     WY            10         WYOMING    579495.0     5.9685
52     GU             3             NaN         NaN        NaN
53     AS             1             NaN         NaN        NaN
54     MP             1             NaN         NaN        NaN
55     FM             1             NaN         NaN        NaN
56     PW             1             NaN         NaN        NaN
57     VI             1             NaN         NaN        NaN
58     MH             1             NaN         NaN        NaN

# Problem 7

Use the function defined in "Problem 3" which returns true if its argument is prime and false otherwise. Then use this function with applymap on a 4 by 4 dataframe containing the numbers 2 to 17 to return a dataframe of Boolean values.

In [ ]:
df = pd.DataFrame([
    [2, 3, 4, 5],
    [6, 7, 8, 9],
    [10, 11, 12, 13],
    [14, 15, 16, 17]
])

bool_df = df.applymap(is_prime)

print(bool_df)

       0      1      2      3
0   True   True  False   True
1  False   True  False  False
2  False   True  False   True
3  False  False  False   True

# Problem 8

Take the file weight-height.csv which is found in the Google Drive folder and read it into a Pandas DataFrame.

Using the pandas cut method, bin the heights into the following groups:

less than 60 inches, 60-64, 64-68, 68-72, 72-76, and over 76.

Then use value_counts to find how many heights fall into each bin.

In [ ]:
file_path3 = "/content/drive/MyDrive/data_files/weight-height.csv"

df_weight_height = pd.read_csv(file_path3)
df_weight_height.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [ ]:
df_weight_height['Heights'] = pd.cut(df_weight_height['Height'], bins= [0, 60, 64, 68, 72, 76, np.inf])
height_counts = df_weight_height['Heights'].value_counts()
print("Heights grouped by range")
print(height_counts)

Heights grouped by range
(64.0, 68.0]    3560
(68.0, 72.0]    2769
(60.0, 64.0]    2529
(72.0, 76.0]     691
(0.0, 60.0]      413
(76.0, inf]       38
Name: Heights, dtype: int64

# Problem 9

The pandas merge method, when called with the how="cross" option, creates the Cartesian product of two dataframes, which combines each row in the first dataframe with each row in the second, without any key for matching (that is, everything matches.)

1) Create a dataframe with one column called restaurant_name with values from the following list: ["Amy's Pizza", "Beth's Pizza", "Charlie's Pizza"].

2) Create another dataframe with one column called slice_type with values from the following list: ["plain", "mushroom", "anchovy"].

3) Then create a dataframe that is the Cartesian product of them, which should have nine rows. Create a new "price" column. Set the prices at Amy's as \$1 for plain, \$1.25 for mushroom, and \$1.50 for anchovy. Then set all of the prices at Beth's at \$1 more than Amy's. Then set the prices at Charlie's at \$1 more than Beth's. Print the resultant dataframe.

In [ ]:
df_restaurant = pd.DataFrame({'restaurant_name': ["Amy's Pizza", "Beth's Pizza", "Charlie's Pizza"]})
df_slice = pd.DataFrame({'slice_type': ["plain", "mushroom", "anchovy"]})

df_cartesian = pd.merge(how = "cross", left = df_restaurant, right = df_slice)

df_cartesian['price'] = 0  # Initialize price column

price_dict = {
    "Amy's Pizza": {'plain': 1, 'mushroom': 1.25, 'anchovy': 1.5},
    "Beth's Pizza": {'plain': 2, 'mushroom': 2.25, 'anchovy': 2.5},
    "Charlie's Pizza": {'plain': 3, 'mushroom': 3.25, 'anchovy': 3.5}
}

#initializing the price of everyone according to slice types
df_cartesian.loc[df_cartesian['slice_type'] == 'plain', 'price'] = 1
df_cartesian.loc[df_cartesian['slice_type'] == 'mushroom', 'price'] = 1.25
df_cartesian.loc[df_cartesian['slice_type'] == 'anchovy', 'price'] = 1.5

#Adding one to Beth and Charlie
df_cartesian.loc[(df_cartesian['restaurant_name'] == "Beth's Pizza") | (df_cartesian['restaurant_name'] == "Charlie's Pizza"), 'price'] +=1

#Adding one more to Charlie
df_cartesian.loc[df_cartesian['restaurant_name'] == "Charlie's Pizza", 'price'] +=1

print(df_cartesian)

   restaurant_name slice_type  price
0      Amy's Pizza      plain   1.00
1      Amy's Pizza   mushroom   1.25
2      Amy's Pizza    anchovy   1.50
3     Beth's Pizza      plain   2.00
4     Beth's Pizza   mushroom   2.25
5     Beth's Pizza    anchovy   2.50
6  Charlie's Pizza      plain   3.00
7  Charlie's Pizza   mushroom   3.25
8  Charlie's Pizza    anchovy   3.50